.about__container {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.about__headerBackground {
    background: linear-gradient(-135deg, var(--gradient-purple), var(--gradient-blue));
    border: 1px solid var(--darker-gray);
    border-bottom: none;
}

.about__contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--darker-gray);
}

.about__owlIcon {
    width: 200px;
    height: 200px;
}

.about__text {
    padding: 20px;
        font-size: 1.2rem;
}