
.questionModal__header {
    background: linear-gradient(-135deg, var(--gradient-blue), var(--gradient-purple));
}

.qeustionModal__headerText {
    font-size: 2rem;
    color: white;
    margin-left: 10px;
}

.questionModal__container {
    display: flex; 
    flex-direction: column;
    margin: 0px 10px;
}

.questionModal__horizontalProperty {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:flex-start;
    margin-bottom: 15px;
}

.questionModal__verticalProperty {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.questionModal__label {
    font-weight: 700;
    font-size: 1.1rem;
    width: 15%;
    margin-bottom: 5px;
}

.questionModal__text {
    font-size: 1.1rem;
    padding: 0px;
}

.questionModal__textBox {
    color: black;
    font-size: 1.1rem;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 10px 15px;
    border: 1px solid black;
    width: 100%;
}

.questionModal__codeEditorContainer {
    width: 100%;
}

/* need this to get rid of margin in ReactMarkdown component */
.questionModal__textBox p {
    margin: 0px !important;
}

.questionModal__footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0px 10px;
    
}


/* 
stuff to do with glow button - had to copy from QuestionContainer.module.css since
the modal is technically outside the root and it wasn't importing correctly */

.questionModal__glowButton {
    margin: 10px 0px;
    border: none !important;
    outline: none !important;
    background: var(--gray-background);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    box-shadow: none !important;
    padding: 5px 20px;
    font-size: 1.3rem;
}

.questionModal__glowButton:before {
    content: '';
    /* background: linear-gradient(45deg, var(--gradient-mid-blue), var(--gradient-purple)); */
    background: linear-gradient(45deg, var(--gradient-blue), var(--gradient-mid-blue), var(--gradient-purple));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 3s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.questionModal__glowButton:active {
    transform: scale(0.95);
    background: var(--gray-background);
    color: black;
}

.questionModal__glowButton:hover:before {
    opacity: 1;
}

.questionModal__glowButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background: var(--gray-background);
    color: black;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}