
.questionModal__header {
    background: linear-gradient(-135deg, var(--gradient-blue), var(--gradient-purple));
}

.questionModal__headerText {
    font-size: 2rem;
    color: white;
    margin-left: 10px;
}

.questionModal__container {
    display: flex; 
    flex-direction: column;
    margin: 0px 10px;
}

.questionModal__horizontalProperty {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:flex-start;
    margin-bottom: 15px;
}

.questionModal__verticalProperty {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.questionModal__label {
    font-weight: 700;
    font-size: 1.1rem;
    width: 15%;
    margin-bottom: 5px;
}

.questionModal__text {
    font-size: 1.1rem;
    padding: 0px;
}

.questionModal__textBox {
    color: black;
    font-size: 1.1rem;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 10px 15px;
    border: 1px solid black;
    width: 100%;
}

.questionModal__codeEditorContainer {
    width: 100%;
}

/* need this to get rid of margin in ReactMarkdown component */
.questionModal__textBox p {
    margin: 0px !important;
}

.questionModal__showAnswersButton {
    width: 100%;
    display: flex; 
    justify-content: center;
}

.questionModal__showAnswersButton > button {
    margin: 5px;
}

.questionModal__footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0px 10px;
    
}

