# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

#ignore testing database
tests/*.db