.questionContainer {
    margin: 20px !important; 
    justify-content: center;
    height: 100%;
}

.questionContainer__background {
    background: linear-gradient(var(--gradient-blue), var(--gradient-purple));
}

.questionContainer__questionContainer {
    border: 1px solid var(--darker-gray);
}

.questionContainer__text {
    color: black;
    font-size: 1.1rem;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 15px;
    padding-left: 20px;
    background-color: white;
}

.questionContainer__userAnswerContainer {
    background: white;
    height: 100%;
    width: 100%;
}

.questionContainer__userAnswerLabel {
    font-size: 2rem;
    font-weight: 500;
    background-color: white;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.questionContainer__buttonContainer {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.questionContainer__answerButtonContainer {
    display: flex;
    gap: 20px;
}

.questionContainer__analyzedAnswerContainer {
    border: 1px solid var(--darker-gray);
    display: flex;
    flex-direction: column;
}

.questionContainer__answerContainer {
    border: 1px solid var(--darker-gray);
}

.questionContainer__analyzeAnswerMargin {
    height: 20px;
    background-color: white;
}