.container {
    font-family: Arial, Helvetica, sans-serif; 
    width: 100%;
}

.questionHeader {
    text-align: left;
    align-items: center;
}

#questionText {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: large; 
    white-space: pre-wrap;
    word-break: break-word;
}

.answerHeader {
    text-align: left;
    align-items: center;
    margin: 25px
}

#answerText {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    overflow-x: auto;
    font-size: large;
    white-space: pre-wrap; 
}

#yourAnswerLabel {
    font-weight: bold;
}

#showAnswerButton {
    margin-top: 20px;
    justify-self: left;
}

#saveQuestionButton {
    margin-top: 20px;
    justify-self: right;
}

.defaultLRPadding {
    padding: 0px 25px;
}

.defaultMargins {
    margin: 25px;
}

.zIndex {
    z-index: 1;
}

code {
    white-space: pre-wrap !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}
