.questionContainer {
    margin: 20px !important; 
    justify-content: center;
    height: 100%;
}
/* --gradient-blue: rgb(33, 212, 252);
--gradient-mid-blue: rgb(98, 134, 253);
--gradient-purple: rgb(162, 56, 254); */

.questionContainer__background {
    background: linear-gradient(var(--gradient-blue), var(--gradient-purple));
}

.questionContainer__questionContainer {
    border: 1px solid var(--darker-gray);
    /* margin-bottom: 20px; */
    /* background: linear-gradient(125deg, rgba(53, 188, 252, 255), var(--gradient-mid-blue)); */
}

.questionContainer__text {
    color: black;
    font-size: 1.1rem;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 15px;
    padding-left: 20px;
    background-color: white;
}

.questionContainer__userAnswerContainer {
    background: white;
    height: 100%;
    width: 100%;
}

.questionContainer__userAnswerLabel {
    font-size: 2rem;
    font-weight: 500;
    background-color: white;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.questionContainer__buttonContainer {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.questionContainer__answerContainer {
    border: 1px solid var(--darker-gray);
}



/* 
stuff to do with glow button */

.questionContainer__glowButton {
    margin: 20px 0px;
    border: none !important; 
    outline: none !important; 
    background:var(--gray-background);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    box-shadow: none !important;
    padding: 0px 20px;
    font-size: 1.3rem;
}

.questionContainer__glowButton:before {
    content: '';
    /* background: linear-gradient(45deg, var(--gradient-mid-blue), var(--gradient-purple)); */
    background: linear-gradient(45deg, var(--gradient-blue), var(--gradient-mid-blue), var(--gradient-purple));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 3s linear infinite; 
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.questionContainer__glowButton:active {
    transform: scale(0.95);
    background: var(--gray-background);
    color: black;
}

.questionContainer__glowButton:hover:before {
    opacity: 1;
}

.questionContainer__glowButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background: var(--gray-background);
    color: black;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}