.passwordInput__container {
    height: 100%;
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 25px;
}

.passwordInput__input {
    height: 100%;
    width: 100%;
    font-size: 17px;
    margin-left: 20px;
    transition: all 0.3s ease;
    outline: none;
    border:none;
}

.passwordInput__container:has(.passwordInput__input:focus),
.passwordInput__container:has(.passwordInput__input:valid) {
    border-color: #4158d0;
}

.passwordInput__label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.passwordInput__input:focus~.passwordInput__label,
.passwordInput__input:valid~.passwordInput__label {
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
    border-color: #4158d0;
} 

.passwordInput__icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.passwordInput__iconContainer {
    display: flex;
    justify-items: center;
    align-items: center;
}
