.sideBarBackground {
    background: linear-gradient(#21d4fc, #a238fe);
    height: 100vh;
    position: sticky;
    top: 0; 
}

.verticalFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    flex: 1;
    margin: 5;
    text-decoration: none;
}

.iconSize {
    height: 200px ; 
    width: 200px
}

#mainGroup {
    position: sticky;
    top: 200px; 
}