.homePage__container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px; 
    width: 100%;
    height: fit-content;
    min-height: 100%;
}

.homePage__sideBarColumn {
    width: 25%;
    padding: 0 !important;
}

.homePage__questionColumn {
    flex: 1;
    display: flex; 
    flex-direction: column;
}


