.verticalFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
}

.buttonMargins {
    margin: 20px;
}

.spinner-border {
    margin-right: 10px; 
    vertical-align: baseline;
}