.navigationBar__background {
    background-color: var(--gray-background)
}

.navigationBar__container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    margin-right: 15px;
}

.navigationBar__link {
    margin: 15px;
    font-size: 1.4rem;
}

.navigationBar__dropdownLink {
    font-size: 1.2rem;
}

.navigationBar__brand {
    font-size: 2rem;
    margin-left: 25px;
}

.navigationBar__icon {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 0px;
}