.navigationBar__background {
    background-color: var(--gray-background)
}

.navigationBar__container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    margin-right: 15px;
}

.navigationBar__link {
    margin: 15px;
    font-size: 20px;
}

.navigationBar__brand {
    font-size: 30px;
    margin-left: 25px;
}